.socials{
  width: 100%;
  margin: 15% auto;
  clear: both;
  text-align: center;
  @media (max-width: 768px) {
    margin: 5% auto;
  }
  p{
    font-size: 1.7rem;
  }
  .columns{
    margin: 1% 0%;
    display: inline-block;
    a{
      color: rgba($color-links, .9);
      @include animate-hyperlink(.5s, 3s);
      .icon{
        font-size: 1.7rem;
      }
    }
  }
}