// beziers
$ease: cubic-bezier(.34,.01,.35,.98);
$easy: cubic-bezier(1,0,0,1);


//animations
@keyframes rainbow-text {
  0%{color:coral}
  33%{color:#fff446}
  66%{color:#15f0e5}
  100%{color:coral}
}



.page{
  font-family: $font-family-primary;
  padding: 3%;
  a{
    //color: $color-links;
    color: #fff;
    text-decoration: underline;
    &:hover {
      animation: rainbow-text 5s ease infinite;
    }
  }
  .title{
    h1{
      font-weight: 800;
      @media (max-width: 480px) {
        font-size: 2.9rem;
      }
    }
  }
  .content{
    padding: 15px 0px;
    @media (max-width: 768px) {
      h1{
        font-size: 2.7rem;
        font-weight: 800;
      }
      h2{
        font-size: 2rem;
        font-weight: 600;
      }
      h3{
        font-size: 1.8rem;
      }
      h3,h4{
        font-weight: 600;
      }
    }
   }
}